name: Build IT Agent Mac

on:
  workflow_dispatch: # Cho phép bấm nút chạy thủ công

jobs:
  build:
    runs-on: macos-latest # Yêu cầu máy chủ Mac

    steps:
      # 1. Lấy code về
      - uses: actions/checkout@v4

      # 2. Cài Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11' 

      # 3. Cài thư viện (từ file requirements.txt thầy đã up)
      - name: Install Dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      # 4. Đóng gói ra file .app
      - name: Build App
        run: |
          # --windowed: để chạy ẩn console
          # --name: đặt tên file App
          pyinstaller --noconfirm --onefile --windowed --name "IT_Device_Info_Agent" agent.py

      # 5. Nén file lại (để thầy tải về được)
      - name: Zip App
        run: |
          cd dist
          zip -r IT_Device_Info_Agent.zip IT_Device_Info_Agent.app

      # 6. Upload file thành phẩm
      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: Mac-App-Final
          path: dist/IT_Device_Info_Agent.zip
